
@media only screen and (max-width: 900px) {
    .section.get-started{
        padding: 20px 0;
    }
}
@media only screen and (max-width: 1200px) {
    .section.get-started{
        padding: 20px 0;
    }
}
@media only screen and (max-width: 600px) {
        .peddle-btn a {
        position: absolute;
         left: 20%;
         margin-bottom: 100%;
    }
        .logos {
        width: 100%;
       
        margin-right: 80%;
        /* padding-left: 30px; */
        display: grid;
        grid-template-columns: 200px 200px;
        grid-template-rows: 100px 100px 100px;
        grid-column-gap: 30px;
        justify-content: center;
        margin-top: 100px;
    }
    
}
