@media only screen and (max-width: 1200px) {
    
}

@media only screen and (max-width: 900px) {
    .lasles-users{
        padding: 0 60px;
        width: max-content;
        margin-left: 100px;
    }
    .user-container {
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    }
    
    .users {
        border-right: 2px solid #EEEFF2;
        padding-right: 50px;
        height: 100px;
    }
    
    .servers {
        margin-right: 30px;
        border-left: 2px solid #EEEFF2;
        padding-left: 50px;
        height: 100px;
    }
    
    .users-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .users-icon {
        margin-right: 20px;
        padding: 10px 10px;
        background:  rgba(186, 85, 211, 0.25);
        border-radius: 50%;
        align-self: center;
        color: #BA55D3;
    }
    
    .user-heading {
        font-weight: bold;
        font-size: 25px;
        line-height: 30px;
        color: #0B132A;
    }
}

@media only screen and (max-width: 600px) {
    .lasles-users {
        margin-top: 15%;
        margin-left: 0;
    }
    
    
    .user-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 300px;
        height: max-content;
        background-color: #fff;
        padding: 30px 30px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    }
    .users {
        display: none;
        border-right: none;
    }
    .servers {
        display: none;
        border-left: none;
        padding-left: 0;
    }
    .users-content {
        display: flex;
        /* flex-direction: column; */
        margin-top: 20px;
        margin-left: 50px;
    }
    .user-heading {
        font-weight: bold;
        font-size: 16px;
        line-height: 15px;
        color: #0B132A;
    }
}
